body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 5px;
}
.btn-container{
    display: flex;
    justify-content: center;

}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.flash{
    background-color: white;
     /* box-shadow: 0 0 40px white; */
}
.userflash{
    background-color: rgb(220, 251, 220);
}